@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=DM+Sans:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box; }

#menu-container {
  display: none; }

#menu {
  display: block; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

header {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: center; }

footer {
  height: 15vh;
  display: flex;
  flex-direction: column; }

@keyframes opacityEff {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

header #logo-tauca {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 30px; }
  header #logo-tauca img {
    width: 20vh;
    height: 20vh; }

header nav ul {
  display: flex; }
  header nav ul li {
    list-style: none; }
    header nav ul li a {
      text-decoration: none;
      color: black;
      padding: 10px 20px; }
      header nav ul li a:hover {
        border-bottom: 1px solid #dadada; }

footer {
  color: white;
  background-color: #1D1D1B;
  align-items: center;
  justify-content: center;
  line-height: 2vw; }

#body-index {
  background: url("../media/img/banners/index.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%; }
  #body-index #container-comprar {
    position: absolute;
    right: 0;
    top: 80vh; }
    #body-index #container-comprar #comprar {
      display: flex;
      flex-direction: column;
      width: 35vw;
      align-items: center; }
      #body-index #container-comprar #comprar h1 {
        color: white;
        font-size: 4vw;
        font-family: 'DM Sans', sans-serif;
        font-weight: bold; }
      #body-index #container-comprar #comprar a {
        text-decoration: none;
        padding: 1vw 0;
        margin-top: 2vw;
        width: 40%;
        border: none;
        border-radius: 5px;
        color: white;
        background: #6F2281;
        font-size: 1vw;
        font-family: 'DM Sans', sans-serif;
        font-weight: medium; }
        #body-index #container-comprar #comprar a:hover {
          cursor: pointer;
          background: #833295; }
        #body-index #container-comprar #comprar a p {
          text-align: center; }

#body-categories {
  min-height: 110vh;
  padding: 5vh 1vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  background-color: #1D1D1B; }
  #body-categories #marroquineria {
    flex-basis: 33%;
    background: url("../media/img/categories/marroquineria.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    #body-categories #marroquineria:hover {
      cursor: pointer; }
      #body-categories #marroquineria:hover #marroquineria-text {
        animation-duration: 0.5s;
        animation-name: opacityEff;
        display: flex;
        flex-direction: column;
        justify-content: center; }
    #body-categories #marroquineria #marroquineria-text {
      background-color: #e20a116b;
      display: none;
      width: 100%;
      height: 100%; }
      #body-categories #marroquineria #marroquineria-text p {
        text-align: center;
        font-size: 4vw; }
      #body-categories #marroquineria #marroquineria-text .letter-category {
        font-size: 3vw; }
  #body-categories #second-column {
    flex-basis: 33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
  #body-categories #gorras {
    flex-basis: 59.6%;
    background: url("../media/img/categories/gorras.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    #body-categories #gorras:hover {
      cursor: pointer; }
      #body-categories #gorras:hover #gorras-text {
        animation-duration: 0.5s;
        animation-name: opacityEff;
        display: flex;
        flex-direction: column;
        justify-content: center; }
    #body-categories #gorras #gorras-text {
      background-color: #cce20a6b;
      display: none;
      width: 100%;
      height: 100%; }
      #body-categories #gorras #gorras-text p {
        text-align: center;
        font-size: 5vw; }
      #body-categories #gorras #gorras-text .letter-category {
        font-size: 3vw; }
  #body-categories #cinturones {
    flex-basis: 39.6%;
    background: url("../media/img/categories/cinturones.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    #body-categories #cinturones:hover {
      cursor: pointer; }
      #body-categories #cinturones:hover #cinturones-text {
        animation-duration: 0.5s;
        animation-name: opacityEff;
        display: flex;
        flex-direction: column;
        justify-content: center; }
    #body-categories #cinturones #cinturones-text {
      background-color: #e24e0a80;
      display: none;
      width: 100%;
      height: 100%; }
      #body-categories #cinturones #cinturones-text p {
        text-align: center;
        font-size: 5vw; }
      #body-categories #cinturones #cinturones-text .letter-category {
        font-size: 3vw; }
  #body-categories #third-column {
    flex-basis: 33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
  #body-categories #medias {
    flex-basis: 49.6%;
    background: url("../media/img/categories/medias.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    #body-categories #medias:hover {
      cursor: pointer; }
      #body-categories #medias:hover #medias-text {
        animation-duration: 0.5s;
        animation-name: opacityEff;
        display: flex;
        flex-direction: column;
        justify-content: center; }
    #body-categories #medias #medias-text {
      background-color: #0a20e26b;
      display: none;
      width: 100%;
      height: 100%; }
      #body-categories #medias #medias-text p {
        text-align: center;
        font-size: 5vw; }
      #body-categories #medias #medias-text .letter-category {
        font-size: 3vw; }
  #body-categories #accesorios {
    flex-basis: 49.6%;
    background: url("../media/img/categories/accesorios.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    #body-categories #accesorios:hover {
      cursor: pointer; }
      #body-categories #accesorios:hover #accesorios-text {
        animation-duration: 0.5s;
        animation-name: opacityEff;
        display: flex;
        flex-direction: column;
        justify-content: center; }
    #body-categories #accesorios #accesorios-text {
      background-color: #b70ae26b;
      display: none;
      width: 100%;
      height: 100%; }
      #body-categories #accesorios #accesorios-text p {
        text-align: center;
        font-size: 5vw; }
      #body-categories #accesorios #accesorios-text .letter-category {
        font-size: 3vw; }

#body-products {
  padding-top: 8vh;
  background-color: #1D1D1B; }
  #body-products #banner-category {
    height: 37vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; }
    #body-products #banner-category p {
      font-weight: lighter;
      font-size: 7vh;
      padding: 1vh 2vw; }
    #body-products #banner-category #en {
      font-size: 5vh; }
  #body-products #box-products {
    display: flex;
    flex-flow: row wrap;
    padding: 10vh 5vw; }
    #body-products #box-products .product {
      display: flex;
      flex-direction: column;
      flex-basis: 26%;
      margin: 8vh 3vw 0 3vw; }
      #body-products #box-products .product img {
        width: 100%; }
      #body-products #box-products .product p {
        color: white;
        padding: 10px 20px;
        text-align: center; }
      #body-products #box-products .product:hover {
        border: 1px solid rgba(255, 255, 255, 0.205);
        cursor: pointer; }

#body-product {
  display: flex;
  background-color: #1D1D1B; }
  #body-product #product {
    flex-basis: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #body-product #product #img-content {
      width: 500px;
      height: 500px; }
      #body-product #product #img-content img {
        width: 100%; }
    #body-product #product #colors {
      display: flex;
      justify-content: space-between;
      padding: 3vh 0; }
      #body-product #product #colors .square {
        width: 40px;
        height: 40px;
        border: 1px solid white;
        margin: 0 1vw; }
        #body-product #product #colors .square:hover {
          background-color: red;
          cursor: pointer; }
  #body-product #description {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
    #body-product #description p {
      font-size: 8vh;
      padding: 2vh 0; }
    #body-product #description #buttonComprar {
      background-color: #E20A13;
      padding: 2vh 3vw;
      margin: 2vh 0;
      border-radius: 5px; }
      #body-product #description #buttonComprar:hover {
        cursor: pointer; }

.pregFrecuentes {
  background-color: #1D1D1B;
  color: white;
  font-weight: 300; }
  .pregFrecuentes h1 {
    background-color: #6F2281;
    font-size: 2.5rem;
    margin: 4% 8%;
    padding: 1%;
    text-align: center; }
  .pregFrecuentes .secPreg {
    margin: 3%;
    padding: 1% 8%;
    color: white; }
    .pregFrecuentes .secPreg h2 {
      text-decoration: underline;
      padding-bottom: 3%; }

.contacto {
  background-color: #1D1D1B;
  color: white;
  font-weight: 300; }
  .contacto h1 {
    background-color: #E20A13;
    font-size: 2.5rem;
    margin: 4% 8%;
    padding: 1%;
    text-align: center; }
  .contacto h3 {
    text-align: center;
    font-size: 1.5rem;
    padding-right: 25%;
    padding-left: 25%;
    margin-bottom: 10%; }
  .contacto .contacto__redes {
    display: flex;
    padding: 4% 1% 10%;
    justify-content: center; }
  .contacto .contenedor__redes {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .contacto .contenedor__redes a {
      outline: none;
      text-decoration: none;
      margin: 2%; }
    .contacto .contenedor__redes h2 {
      font-size: 1.2rem;
      margin-right: 15%; }
    .contacto .contenedor__redes img {
      width: 4vw; }

.sobreNos {
  background-color: #1D1D1B;
  color: white;
  font-weight: 300; }
  .sobreNos h1 {
    background-color: #088036;
    font-size: 2.5rem;
    margin: 4% 8%;
    padding: 1%;
    text-align: center; }
  .sobreNos .sobreNos__contenido {
    display: flex;
    align-items: center;
    margin: 2% 10%; }
    .sobreNos .sobreNos__contenido img {
      width: 30vw;
      padding: 1%; }
    .sobreNos .sobreNos__contenido p {
      font-size: .9rem;
      padding: 5%;
      line-height: 1.25rem; }

@media (max-width: 1280px) and (max-height: 1024px) {
  #body-index #container-comprar #comprar {
    width: 42vw; }
    #body-index #container-comprar #comprar h1 {
      font-size: 5vw; }
    #body-index #container-comprar #comprar a {
      padding: 1.5vw 0.5vw;
      font-size: 1.5vw; } }

@media (max-width: 1024px) {
  #body-product #product #img-content {
    width: 400px;
    height: 400px; } }

@media (max-width: 992px) {
  .contenedor__redes {
    flex-direction: column;
    justify-content: center; }
    .contenedor__redes a {
      margin: 12%; }
    .contenedor__redes h2 {
      margin: 8%; }
  .sobreNos__contenido {
    flex-direction: column;
    justify-content: center; } }

@media (max-width: 900px) {
  header {
    height: 15vh; }
    header #logo-tauca {
      position: absolute;
      left: auto;
      right: 0; }
      header #logo-tauca img {
        height: 15vh;
        width: 15vh; }
  /*menu*/
  #menu {
    display: none; }
  #menu-container {
    display: block;
    position: absolute;
    z-index: 4;
    left: 0; }
    #menu-container #menu-slide {
      float: left;
      max-width: 0px;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: 200ms; }
      #menu-container #menu-slide nav {
        display: flex;
        flex-direction: column;
        padding: 15px;
        background: white;
        height: 100%;
        width: 300px;
        border: 1px solid rgba(0, 0, 0, 0.109);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px; }
        #menu-container #menu-slide nav .toggle-menu {
          width: 100%;
          height: 3vh;
          margin: 3vh 0; }
          #menu-container #menu-slide nav .toggle-menu img {
            height: 100%;
            float: right;
            margin-right: 2vh; }
        #menu-container #menu-slide nav ul #buscar {
          margin: 3vh 0;
          width: 100%;
          display: flex; }
          #menu-container #menu-slide nav ul #buscar #text {
            width: 80%;
            font-size: 2.7vh;
            padding: 0 0 0 2.5vh;
            border: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            background-color: #ebebeb; }
          #menu-container #menu-slide nav ul #buscar #submit {
            width: 20%;
            padding: 2vh;
            background-color: #ebebeb;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px; }
        #menu-container #menu-slide nav ul li {
          width: 100%;
          display: flex;
          flex-direction: column;
          color: #fff;
          font-size: 18px;
          text-decoration: none;
          font-weight: 600;
          position: relative;
          transform: translateX(-30px);
          opacity: 0;
          transition: all 300ms; }
          #menu-container #menu-slide nav ul li:before {
            content: '';
            position: absolute;
            left: -20px;
            width: 0px;
            height: 100%;
            background: #009de3;
            transition: all 300ms; }
          #menu-container #menu-slide nav ul li:hover:before {
            width: 6px; }
          #menu-container #menu-slide nav ul li a {
            width: 100%;
            padding: 6vh 0;
            text-decoration: none; }
          #menu-container #menu-slide nav ul li #azul {
            color: #3157A3; }
          #menu-container #menu-slide nav ul li #violeta {
            color: #6F2281; }
          #menu-container #menu-slide nav ul li #rojo {
            color: #E20A13; }
          #menu-container #menu-slide nav ul li #verde {
            color: #088036; }
          #menu-container #menu-slide nav ul li .options-menu {
            padding: 2vh 0;
            min-width: 500px;
            padding: 4vh 0; }
    #menu-container .toggle {
      position: absolute;
      z-index: 1;
      display: inline-block;
      color: #fff;
      cursor: pointer;
      transition: opacity 300ms;
      width: 8vh;
      height: 8vh;
      top: 3vh;
      left: 3vh; }
      #menu-container .toggle img {
        width: 100%; }
      #menu-container .toggle:hover {
        opacity: 0.8; }
    #menu-container .toggle-check:checked ~ .toggle {
      display: none; }
    #menu-container .toggle-check:checked ~ #menu-slide {
      max-width: 300px; }
    #menu-container .toggle-check:checked ~ #menu-slide ul li {
      opacity: 1;
      transition-delay: 200ms;
      transform: translateX(0); }
  #body-categories #marroquineria #marroquineria-text {
    animation-duration: 0.5s;
    animation-name: opacityEff;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #body-categories #gorras #gorras-text {
    animation-duration: 0.5s;
    animation-name: opacityEff;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #body-categories #cinturones #cinturones-text {
    animation-duration: 0.5s;
    animation-name: opacityEff;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #body-categories #medias #medias-text {
    animation-duration: 0.5s;
    animation-name: opacityEff;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #body-categories #accesorios #accesorios-text {
    animation-duration: 0.5s;
    animation-name: opacityEff;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media (max-width: 650px) {
  #body-index #container-comprar {
    display: none; }
  footer {
    min-height: 17vh; }
    footer h4 {
      padding: 1vh 0; }
    footer h5 {
      padding: 1vh 0; } }

@media (max-width: 600px) {
  #grid-left {
    grid-area: gridleft; }
  #grid-rigth {
    grid-area: gridrigth; }
  #grid-bottom {
    grid-area: gridbottom; }
  #body-categories {
    display: grid;
    grid-template-areas: "gridleft gridrigth" "gridbottom gridbottom";
    grid-template-rows: 80vh 33vh;
    grid-template-columns: 50% 50%;
    border-left: 5px solid #1D1D1B;
    border-right: 5px solid #1D1D1B; }
    #body-categories #grid-left #marroquineria-m {
      background: url("../media/img/categories/marroquineria.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 60%;
      border: 5px solid #1D1D1B; }
      #body-categories #grid-left #marroquineria-m #marroquineria-text-m {
        background-color: #e20a116b;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #body-categories #grid-left #marroquineria-m #marroquineria-text-m p {
          text-align: center;
          font-size: 6vw;
          padding: 2vh 0; }
        #body-categories #grid-left #marroquineria-m #marroquineria-text-m .letter-category-m {
          font-size: 4vw; }
    #body-categories #grid-left #cinturones-m {
      background: url("../media/img/categories/cinturones.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 40%;
      border: 5px solid #1D1D1B; }
      #body-categories #grid-left #cinturones-m #cinturones-text-m {
        background-color: #e24e0a80;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #body-categories #grid-left #cinturones-m #cinturones-text-m p {
          text-align: center;
          font-size: 6vw;
          padding: 2vh 0; }
        #body-categories #grid-left #cinturones-m #cinturones-text-m .letter-category-m {
          font-size: 4vw; }
    #body-categories #grid-rigth #gorras-m {
      background: url("../media/img/categories/gorras.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 40%;
      border: 5px solid #1D1D1B; }
      #body-categories #grid-rigth #gorras-m #gorras-text-m {
        background-color: #cce20a6b;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #body-categories #grid-rigth #gorras-m #gorras-text-m p {
          text-align: center;
          font-size: 6vw;
          padding: 2vh 0; }
        #body-categories #grid-rigth #gorras-m #gorras-text-m .letter-category-m {
          font-size: 4vw; }
    #body-categories #grid-rigth #medias-m {
      background: url("../media/img/categories/medias.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 60%;
      border: 5px solid #1D1D1B; }
      #body-categories #grid-rigth #medias-m #medias-text-m {
        background-color: #0a20e26b;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #body-categories #grid-rigth #medias-m #medias-text-m p {
          text-align: center;
          font-size: 6vw;
          padding: 2vh 0; }
        #body-categories #grid-rigth #medias-m #medias-text-m .letter-category-m {
          font-size: 4vw; }
    #body-categories #grid-bottom #accesorios-m {
      background: url("../media/img/categories/accesorios.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      border: 5px solid #1D1D1B; }
      #body-categories #grid-bottom #accesorios-m #accesorios-text-m {
        background-color: #b70ae26b;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #body-categories #grid-bottom #accesorios-m #accesorios-text-m p {
          text-align: center;
          font-size: 6vw;
          padding: 2vh 0; }
        #body-categories #grid-bottom #accesorios-m #accesorios-text-m .letter-category-m {
          font-size: 4vw; } }

@media (max-width: 450px) {
  #body-index {
    min-height: 80vh; } }

@media (max-width: 415px) {
  header {
    height: 13vh; }
    header #logo-tauca img {
      height: 13vh;
      width: 13vh; }
  #menu-container .toggle {
    width: 5.5vh;
    height: 5.5vh;
    top: 4vh;
    left: 4vh; }
    #menu-container .toggle img {
      width: 100%; } }
