header{
    #logo-tauca{
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 30px;
        img{
            width: $heigth-header;
            height: $heigth-header;
        }
    }
    nav{
        ul{
            display: flex;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    padding: 10px 20px;
                    &:hover{
                        border-bottom: 1px solid rgb(218, 218, 218);
                    }
                }
            }
        }
    }
}
footer{
    color: white;
    background-color: $blackTauca;
    align-items: center;
    justify-content: center;
    line-height : 2vw;
}
#body-index{
    background: url('../media/img/banners/index.jpg') no-repeat center top;
    @include bgcover;
    min-height:100vh;
    width: 100%;
    #container-comprar{
        position: absolute;
        right: 0;
        top:80vh;
        #comprar{
            display: flex;
            flex-direction: column;
            width: 35vw;
            align-items: center;
            h1{
                color: white;
                font-size: 4vw;
                font-family: 'DM Sans', sans-serif;
                font-weight: bold;
            }
            a{
                text-decoration: none;
                padding: 1vw 0;
                margin-top: 2vw;
                width: 40%;
                border:none;
                border-radius: 5px;
                color: white;
                background: $purpleTauca;
                font-size: 1vw;
                font-family: 'DM Sans', sans-serif;
                font-weight: medium;
                &:hover{
                    cursor: pointer;
                    background: #833295;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
}
#body-categories{
    min-height: 110vh;
    padding: 5vh 1vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    background-color: $blackTauca;
    #marroquineria{
        flex-basis: 33%;
        background: url('../media/img/categories/marroquineria.jpg') no-repeat center top;
        @include bgcover;
        &:hover{
            cursor: pointer;
            #marroquineria-text{
                @include effectOpacity;
            }
        }
        #marroquineria-text{
            background-color: #e20a116b;
            display: none;
            width: 100%;
            height: 100%;
            p{
            text-align: center;
            font-size: 4vw;
            }
            .letter-category{
            font-size: 3vw;                
            }
        }
    }
    #second-column{
        flex-basis: 33%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        #gorras{
            flex-basis: 59.6%;
            background: url('../media/img/categories/gorras.jpg') no-repeat center top;
            @include bgcover;
            &:hover{
                cursor: pointer;
                #gorras-text{
                    @include effectOpacity;
                }
            }
            #gorras-text{
                background-color: #cce20a6b;
                @include displayCategories;
            }
        }
        #cinturones{
            flex-basis: 39.6%;
            background: url('../media/img/categories/cinturones.jpg') no-repeat center top;
            @include bgcover;
            &:hover{
                cursor: pointer;
                #cinturones-text{
                    @include effectOpacity;
                }
            }
            #cinturones-text{
                background-color: #e24e0a80;
                @include displayCategories;
            }
        }
    }
    #third-column{
        flex-basis: 33%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        #medias{
            flex-basis: 49.6%;
            background: url('../media/img/categories/medias.jpg') no-repeat center top;
            @include bgcover;
            &:hover{
                cursor: pointer;
                #medias-text{
                    @include effectOpacity;
                }
            }
            #medias-text{
                background-color: #0a20e26b;
                @include displayCategories;
            }
        }
        #accesorios{
            flex-basis: 49.6%;
            background: url('../media/img/categories/accesorios.jpg') no-repeat center top;
            @include bgcover;
            &:hover{
                cursor: pointer;
                #accesorios-text{
                    @include effectOpacity;
                }
            }
            #accesorios-text{
                background-color: #b70ae26b;
                @include displayCategories;
            }
        }
    }
}
#body-products{
    padding-top: 8vh;
    background-color: $blackTauca;
    #banner-category{     
        height: 37vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include bgcover;
        background-position: center;
        p{
            font-weight: lighter;
            font-size: 7vh;
            padding: 1vh 2vw;
        }
        #en{
            font-size: 5vh;
        }
    }
    #box-products{
        display: flex;
        flex-flow: row wrap;
        padding: 10vh 5vw;
        .product{
            display: flex;
            flex-direction: column;
            flex-basis: 26%;
            margin: 8vh 3vw 0 3vw;
            img{
                width: 100%;
            }
            p{
                color: white;
                padding: 10px 20px;
                text-align: center;
            }
            &:hover{
                border: 1px solid rgba(255, 255, 255, 0.205);
                cursor: pointer;
            }
        }
    }
}
#body-product{
    display: flex;
    background-color: $blackTauca;
    #product{
        flex-basis: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #img-content{
            width: 500px;
            height: 500px;
            img{
                width: 100%;
            }
        }
        #colors{
            display: flex;
            justify-content: space-between;
            padding: 3vh 0;
            .square{
                width: 40px;
                height: 40px;
                border: 1px solid white;
                margin: 0 1vw;
                &:hover{
                    background-color: red;
                    cursor: pointer;
                }
            }
        }
    }
    #description{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        p{
            font-size: 8vh;
            padding: 2vh 0;
        }
        #buttonComprar{
            background-color: $redTauca;
            padding: 2vh 3vw;
            margin: 2vh 0;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.pregFrecuentes{
    background-color: $blackTauca;
    color: white;
    font-weight: 300;

    h1{
        background-color: $purpleTauca;
        font-size: 2.5rem;
        margin: 4% 8%;
        padding: 1%;  
        text-align: center;      
    }

    .secPreg{
        margin: 3%;
        padding: 1% 8%;
        color: white;
        h2{
            text-decoration: underline;
            padding-bottom: 3%;

        }
    }
}

.contacto{
    background-color: $blackTauca;
    color: white;
    font-weight: 300;

    h1{
        background-color: $redTauca;
        font-size: 2.5rem;
        margin: 4% 8%;
        padding: 1%;  
        text-align: center;      
    }

    h3{
        text-align: center;
        font-size: 1.5rem;
        padding-right: 25%;
        padding-left: 25%;
        margin-bottom: 10%;
    }

    .contacto__redes{
        display: flex;
        padding: 4% 1% 10%;
        justify-content:center;
    }

    .contenedor__redes{
        display: flex;
        align-items:center;
        justify-content: space-around;
        a{
            outline: none;
            text-decoration: none;
            margin: 2%;
        }
        h2{
            font-size: 1.2rem;
            margin-right: 15%;

        }
        img{
            width: 4vw;

        }
      



    }
}


.sobreNos{
    background-color: $blackTauca;
    color: white;
    font-weight: 300;
    
    h1{
        background-color: $greenTauca;
        font-size: 2.5rem;
        margin: 4% 8%;
        padding: 1%;  
        text-align: center;      
    }
    
    .sobreNos__contenido{
        display: flex;
        align-items: center;
        margin: 2% 10%;
        img{
            width: 30vw;
            padding: 1%;
        }
        p{
            font-size: .9rem;
            padding: 5%;
            line-height: 1.25rem;
        }

    }
}