//Limites de colapso de estructura 904 x 636
@media (max-width: 1280px){
    @media(max-height: 1024px){
        #body-index{
            #container-comprar{
                #comprar{
                    width: 42vw;
                    h1{
                        font-size: 5vw;
                    }
                    a{
                        padding: 1.5vw 0.5vw;
                        font-size: 1.5vw;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px){
    #body-product{
        #product{
            #img-content{
                width: 400px;
                height: 400px;
            }
        }
    }
}
@media (max-width: 992px) {
                            
    .contenedor__redes{
        flex-direction: column;
        justify-content: center;
        a{
            margin: 12%;
        }
        h2{
            margin: 8%;
        }

    }

    .sobreNos__contenido{
        flex-direction: column;
        justify-content: center;

    }
}
@media (max-width: 900px){
    $heigth-header: $heigth-header - 5vh;
    /*menu*/
    #menu{
        display: none;
    }
    #menu-container{
        display: block;
        position: absolute;
        z-index: 4;
        left: 0;
        #menu-slide{
            float: left;
            max-width: 0px;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            transition: 200ms;
            nav{
                display: flex;
                flex-direction: column;
                padding: 15px;
                background: white;
                height: 100%;
                width: 300px;
                border: 1px solid rgba(0, 0, 0, 0.109);
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                .toggle-menu{
                    width: 100%;
                    height: 3vh;
                    margin: 3vh 0;
                    img{
                        height: 100%;
                        float: right;
                        margin-right: 2vh;
                    }
                }
                ul{
                    #buscar{
                        margin: 3vh 0;
                        width: 100%;
                        display: flex;
                        #text{
                            width: 80%;
                            font-size: 2.7vh;
                            padding: 0 0 0 2.5vh;
                            border: none;
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                            background-color: rgb(235, 235, 235);
                        }
                        #submit{
                            width: 20%;
                            padding: 2vh;
                            background-color: rgb(235, 235, 235);
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                        }
                    }
                    li{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        color: #fff;
                        font-size: 18px;
                        text-decoration: none;
                        font-weight: 600;
                        position: relative;
                        transform: translateX(-30px);
                        opacity: 0;
                        transition: all 300ms;
                        &:before{
                            content: '';
                            position: absolute;
                            left: -20px;
                            width: 0px;
                            height: 100%;
                            background: #009de3;
                            transition: all 300ms;
                        }
                        &:hover:before{
                            width: 6px;
                        }
                        a{
                            width: 100%;
                            padding: 6vh 0;
                            text-decoration: none;
                        }
                        #azul{
                            color: $blueTauca;
                        }
                        #violeta{
                            color: $purpleTauca;
                        }
                        #rojo{
                            color: $redTauca;
                        }
                        #verde{
                            color: $greenTauca;
                        }
                        .options-menu{
                            padding: 2vh 0;
                            min-width: 500px;
                            padding: 4vh 0;
                        }
                    }
                }
            }
        }
        .toggle{
            position: absolute;
            z-index: 1;
            display: inline-block;
            color: #fff;
            cursor: pointer;
            transition: opacity 300ms;
            width: $heigth-header - 7vh;
            height: $heigth-header - 7vh;
            top: 3vh;
            left: 3vh;
            img{
                width: 100%;
            }
        }
        .toggle:hover{
            opacity: 0.8;
        }
        .toggle-check:checked ~ .toggle{
            display: none;
        }
        .toggle-check:checked ~ #menu-slide{
            max-width: 300px;
        }
        .toggle-check:checked ~ #menu-slide ul li{
            opacity: 1;
            transition-delay: 200ms;
            transform: translateX(0);
        }
    }
    header{
        height: $heigth-header;
        #logo-tauca{
            position: absolute;
            left: auto;
            right: 0;
            img{
                height: $heigth-header;
                width: $heigth-header;
            }
        }
    }
}
@media (max-width: 650px){
    $heigth-footer: $heigth-footer + 2vh;
    #body-index{
        #container-comprar{
            display: none;
        }
    }
    footer{
        min-height: $heigth-footer;
        h4{
            padding: 1vh 0;
        }
        h5{
            padding: 1vh 0;
        }
    }
}
@media (max-width: 415px){
    $heigth-header: $heigth-header - 5vh;
    header{
        height: $heigth-header - 2vh;
        #logo-tauca{
            img{
                height: $heigth-header - 2vh;
                width: $heigth-header - 2vh;
            }
        }
    }
    #menu-container{
        .toggle{
            width: $heigth-header - 9.5vh;
            height: $heigth-header - 9.5vh;
            top: 4vh;
            left: 4vh;
            img{
                width: 100%;
            }
        }
    }
}